# 所有压缩包
*.tar*
*.tar
*.zip
*.gz
*.xz
*.7z
*.bz2
*.rar
*.jpg
*.png
*.bits
*.gif
*.frag
*.vert
*.ttf
*.yuv

# 工具
.vscode/

# 编译产物
*.pyc
__pycache__/

# 模型、算法库、词库
program/GloVe6B/
program/models/DeepSeek-R1-Distill-Qwen-1.5B/
program/models/sentence-transformers/
program/nltk_data/

# 过程废弃文件
program/oldpro/
program/GenEnArticle/src/oldfile/

